.options-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .option-button {
    margin: 5px;
    border-radius: 25px;
    padding: 8px;
    border-color: rgb(139, 175, 160);
    background-color: rgb(177, 203, 189);
    text-align: center;
  }